<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jsnk77.quitsmoking" >

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".ApplicationControler"
        android:allowBackup="true"
        android:icon="@drawable/quitsmokeicon"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat">
        <activity android:name="com.facebook.LoginActivity"
        android:label="@string/app_name"/>
        <activity android:name=".HomeActivity"
            android:label="@string/app_name"/>
        <activity android:name="FriendActivity"
            android:label="@string/app_name"/>
        <activity android:name=".ShareActivity"
        android:label="@string/app_name"/>>
        <activity android:name=".ProfileActivity"/>
        <activity android:name=".RankingActivity"/>
        <activity android:name=".MessageActivity"/>
         <activity   android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <meta-data android:value="@string/facebook_app_id" android:name="com.facebook.sdk.ApplicationId" />
    </application>

</manifest>
